.my-window {
  height: calc(100% - 2px);

  border-radius: 20px;
  border: 1px solid #fff;
  background:
    radial-gradient(
      89.53% 70.71% at 100% 100%,
      #bd34fe 0%,
      rgba(189, 52, 254, 0.5) 100%
    ),
    radial-gradient(
      84.71% 70.71% at 0% 0%,
      #41d1ff 0%,
      rgba(65, 209, 255, 0.5) 100%
    ),
    #707070;
  overflow: hidden;
}
.my-window__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  background: rgba(247, 210, 253, 0.33);
}

.my-window--active .my-window__title {
  background: #f7d2fd;
}
